<button (click)="makeChoice()" class="choice-button choice-button--rock" *ngIf="label=='rock'">
    <img *ngIf="label=='rock'" src="../assets/images/icon-rock.svg" alt="Rock">
</button>
<button (click)="makeChoice()" class="choice-button choice-button--paper" *ngIf="label=='paper'">
    <img *ngIf="label=='paper'" src="../assets/images/icon-paper.svg" alt="Paper">
</button>
<button (click)="makeChoice()" class="choice-button choice-button--scissors" *ngIf="label=='scissors'">
    <img *ngIf="label=='scissors'" src="../assets/images/icon-scissors.svg" alt="Scissors">
</button>
<div class="choice-button" *ngIf="label==''">
</div>