<button class="choice-button choice-button--rock" *ngIf="choice=='rock'">
    <img *ngIf="choice=='rock'" src="../assets/images/icon-rock.svg" alt="Rock">
</button>
<button class="choice-button choice-button--paper" *ngIf="choice=='paper'">
    <img *ngIf="choice=='paper'" src="../assets/images/icon-paper.svg" alt="Paper">
</button>
<button class="choice-button choice-button--scissors" *ngIf="choice=='scissors'">
    <img *ngIf="choice=='scissors'" src="../assets/images/icon-scissors.svg" alt="Scissors">
</button>