.choice-button {
    position: relative;
    padding: 3em;
    border-radius: 100%;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    border: none;

    &--rock::before,
    &--paper::before,
    &--scissors::before {
        border-radius: 100%;
        z-index: -1;
        content: '';
        position: absolute;
        inset: -25px;
    }

    &--rock::before {
        background: var(--rock-gradient);
    }

    &--paper::before {
        background: var(--paper-gradient);
    }

    &--scissors::before {
        background: var(--scissors-gradient);
    }

    img {
        width: 6em;
    }
}