.choice-button {
    position: relative;
    padding: 3em;
    border-radius: 100%;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    border: none;
    width: 10em;
    background: hsl(223, 46%, 17%);

    &--rock,
    &--paper,
    &--scissors {
        background-color: var(--white);
    }

    &--rock::before,
    &--paper::before,
    &--scissors::before,
    &--rock::after,
    &--paper::after,
    &--scissors::after {
        content: '';
        position: absolute;
        border-radius: 100%;
    }

    //Main border
    &--rock::before,
    &--paper::before,
    &--scissors::before {
        z-index: -1;
        inset: -25px;
    }

    //Internal shadow
    &--rock::after,
    &--paper::after,
    &--scissors::after {
        inset: 9px 0 0;
        z-index: 1;
        box-shadow: var(--internal-shadow);
    }

    &--rock::before {
        background: var(--rock-gradient);
        box-shadow: var(--rock-shadow);
    }

    &--paper::before {
        background: var(--paper-gradient);
        box-shadow: var(--paper-shadow);
    }

    &--scissors::before {
        background: var(--scissors-gradient);
        box-shadow: var(--scissors-shadow);
    }

    img {
        width: 6em;
    }
}