.header {
    border: 2px solid var(--outline);
    border-radius: 10px;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    max-width: 50vw;
    margin: 0 auto;
}

.score-display {
    background-color: var(--white);
    border-radius: 10px;
    padding: 0.5em 3em;
    text-align: center;
}

.score-title {
    color: var(--text-score);
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 2px;
}

.score-value {
    margin: -0.25em;
    color: var(--text-dark);
    font-size: 4rem;
    font-family: 'BarlowSemiCondensedBlack';
}

.choice-buttons {
    padding: 5em;
    max-width: 50vw;
    margin: 0 auto;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.choice-buttons>*:nth-child(2) {
    grid-column: 3;
}

.choice-buttons>*:nth-child(3) {
    grid-row: 2;
    grid-column: 2;
}

.rules-button {
    position: fixed;
    bottom: 2em;
    right: 2em;
    background: none;
    border: 2px solid var(--outline);
    border-radius: 10px;
    padding: 0.5em 2em;
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
}