.header {
    border: 2px solid var(--outline);
    border-radius: 10px;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    max-width: 50vw;
    margin: 0 auto;
}

.score-display {
    background-color: var(--white);
    border-radius: 10px;
    padding: 0.5em 3em;
    text-align: center;
}

.score-title {
    color: var(--text-score);
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 2px;
}

.score-value {
    margin: -0.25em;
    color: var(--text-dark);
    font-size: 4rem;
    font-family: 'BarlowSemiCondensedBlack';
}

.choice-buttons {
    display: flex;
    justify-content: center;
    padding: 5em;
    max-width: 40vw;
    margin: 0 auto;
}

.choice-buttons>*:nth-child(1) { 
    position: relative;

    &::after {
        position: absolute;
        background-color: #101d35;
        content: '';
        height: 20px;
        width: 150px;
        top: 15%;
        z-index: -3;
        right: -150px;
    }
}


.choice-buttons>*:nth-child(2) {
    margin-top: 250px;
    position: relative;

    &::before,
    &::after {
        position: absolute;
        background-color: #101d35;
        content: '';
        height: 20px;
        width: 150px;
        top: -50px;
        z-index: -3;
    }

    &::before {
        left: -100px;
        rotate: 55deg;
    }

    &::after {
        right: -100px;
        rotate: 125deg;
    }
}

.rules-button {
    position: fixed;
    bottom: 2em;
    right: 2em;
    background: none;
    border: 2px solid var(--outline);
    border-radius: 10px;
    padding: 0.5em 2em;
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
}